<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="..." crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbarCustom {
            display:flex !important;
            color:white !important;
        }
        a {
            color: black !important;
        }

    </style>
</head>
<body style="margin:0; padding:0 0 0 0">
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>*@
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

            </div>
        </div>*@

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color:white !important">Rent A Car</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01" style="display: flex !important;">
                <ul class="navbar-nav me-auto">

                    <li style="padding:15px 15px 5px 15px"><p>@Html.ActionLink("Home", "Index", "Home")</p></li>
                    <li style="padding:15px 15px 5px 15px"><p>@Html.ActionLink("Cars", "Index", "Cars")</p></li>
                    <li style="padding:15px 15px 5px 15px"><p>@Html.ActionLink("Customers", "Index", "Customers")</p></li>
                    <li style="padding:15px 15px 5px 15px"><p>@Html.ActionLink("Rentals", "Index", "Rentals")</p></li>


                </ul>
                <form class="d-flex ms-auto" style="display: flex !important; align-items: center;">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    <p style="margin:12px">Register</p>
                    <p style="margin:12px">LogIn</p>



                </form>
            </div>
        </div>
    </nav>





    <div class="container body-content">
        <div style="display: flex; background-color: lightgrey; width:97%" >
            <img style="margin:50px" src="../../Picture/audi3.jpg">
            <img style="margin:50px 0px 50px 0px" src="../../Picture/audi2.jpg">
            <img style="margin:50px" src="../../Picture/audi1.jpg">

        </div>

        <div style="display:flex;">
            <div><h2>Auto Sales Are Down.<br> Here's Why They'll<br> Continue To Fall</h2><p style="margin:20px 20px 20px 0px">
    So far, the slowdown in new vehicle sales is slow and
    gradual, Through the first two months of 201B they
    have slipped a barely noticeable 0.8% That is about
    to change. Auto loan interest rates are now at levels
    not seen since 2010 - an average of 5,2% in
    February.
</p><a href="#">Learn more >></a></div>
            <div><h2>7 Things that you should<br> know about 2018<br> Audi RS 5</h2><p style="margin:20px 20px 20px 0px">
    I'm frustrated. The Arizona desert roads Audi picked
    for me to drive its track-bred coupe on were
    picturesque and open, but I found nary a sharp
    comer to attack. So, I've called in a favor and
    borrowed a Nardo Gray 2018 Audi R$ 5 for some
    extra drive time,
</p><a href="#">Learn more >></a></div>
            <div><h2>In-Depth BMW X3<br> review by Car and<br> Driver</h2><p style="margin:20px 20px 20px 0px">
    We've been pretty adamant about the fact that the
    EMW X3 is one of the best cars currently in BMW's
    stable, Personally, I feel that it's the most BMW-like
    car the brand has made in a long time. with a
    steering and chassis feel that reminds me of old-
    school Bavarians
</p><a href="#">Learn more >></a></div>

        </div>
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
